.banner {
    background-image: url('../images/image-banner.png');
    background-repeat: no-repeat;
    background-position: center; //centra la imagen del banner
    background-size: cover;
    padding: 10% 0;

    &__box {
        margin: 2rem 0;

        &--contenedor:first-child {
            padding: 3rem 0;
        }

        &--contenedor:last-child {
            padding: 3rem 0;

            @include tablet-view {
                display: none;
            }
        }

        &--image {
            width: auto;
            height: auto;
            border-radius: 50%;
            display: block;
            margin: auto;

            @include tablet-view {
                width: 50%;

            }
        }

        &--title {
            font-weight: $roboto-weight-bold;
            font-size: $font-size-xx-large;
            margin: 2rem 0 0 0;

            @include tablet-view {
                text-align: center;
            }
        }

        &--paragraph {
            margin: 1rem 0 0 0;
            font-size: $font-size-x-large;
            color: $silver;

            @include tablet-view {
                text-align: center;
            }
        }
    }

}

.linea{
    margin:0px auto;
    height: 0.18rem;
    width: 100%;
    background-color: $gray;
}