.banner {
    background-image: url('../images/image-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; //centra la imagen del banner
    padding: 10% 0;

    &__box {
        margin: 1rem 0;

        &__image {
            display: flex;
            align-items: center;
            justify-content: center;

            &--avatar {
                width: 100%;
                height: 100%;
                border-radius: 50%;
    
                @include tablet-view {
                    width: 50%;
                }
            }
        }

        &__texto {
            display: flex;
            flex-flow: column wrap;  // deja alineado el texto en columnas
            justify-content: center;
            align-content: flex-start;
            
            @include tablet-view {
                margin: 1rem 0 0 0;
                align-content: center;
            }
            
            &--title {
                font-weight: $roboto-weight-bold;
                font-size: $font-size-xx-large;

                @include tablet-view {
                    margin: 1rem 0 0 0;
                }
            }

            &--paragraph {
                margin: 1rem 0 0 0;
                font-size: $font-size-x-large;
                color: $silver;
            }
        }

        &__contenedor {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include tablet-view {
                display: none;
            }
        }
    }
}

.linea{
    margin:0px auto;
    height: 0.07rem;
    width: 100%;
    background-color: $gray;
}